
<footer class="camp-footer animate slideInUp">
    <hr>
    <p>Developed by James Okunola @2020</p>
    <a href="#">Back to top</a>
</footer></div>
<script src="/jquery-slim.min.js"></script>
<script src="/popper.min.js"></script>
<script src="/bootstrap.min.js"></script>
</body>
</html>