<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Movie</title>
</head>
<body> 
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <a class="navbar-brand" href="#">Movie App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Academics</a>
            <div class="dropdown-menu" aria-labelledby="dropdown05">
              <a class="dropdown-item" href="#">Football</a>
              <a class="dropdown-item" href="#">Tennis</a>
              <a class="dropdown-item" href="#">Golf</a>
              <a class="dropdown-item" href="#">Formulla 1</a>
              <a class="dropdown-item" href="#"></a>
              <a class="dropdown-item" href="#">Golf</a>
            </div>
          </li>        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Countries</a>
            <div class="dropdown-menu" aria-labelledby="dropdown05">
              <a class="dropdown-item" href="#">Football</a>
              <a class="dropdown-item" href="#">Tennis</a>
              <a class="dropdown-item" href="#">Golf</a>
              <a class="dropdown-item" href="#">Formulla 1</a>
              <a class="dropdown-item" href="#"></a>
              <a class="dropdown-item" href="#">Golf</a>
            </div>
          </li>        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sports</a>
            <div class="dropdown-menu" aria-labelledby="dropdown05">
              <a class="dropdown-item" href="#">Football</a>
              <a class="dropdown-item" href="#">Tennis</a>
              <a class="dropdown-item" href="#">Golf</a>
              <a class="dropdown-item" href="#">Formulla 1</a>
              <a class="dropdown-item" href="#"></a>
              <a class="dropdown-item" href="#">Golf</a>
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Entertainment</a>
          <div class="dropdown-menu" aria-labelledby="dropdown05">
            <a class="dropdown-item" href="#">Football</a>
            <a class="dropdown-item" href="#">Tennis</a>
            <a class="dropdown-item" href="#">Golf</a>
            <a class="dropdown-item" href="#">Formulla 1</a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#">Golf</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
      </form>
    </div>
  </nav>
    <section class="container main-section">
       <div class="row container">
        <!-- <div class="col-lg-8 ">
          <% data["Search"].forEach(function(movie){ %>
            <div class="main">
            <img src="<%=movie.Poster%>" alt="" srcset="">
           <h5><%= movie.Title %></h5>
            <h6>Love cant be broken between this two</h6>
            <p>
                h.random())}while(document.getElementById(t));return t},getSelec
                torFromElement:function(e){var n,i=e.getAttribute("data-target");i&&"#"!==i||(i=e.getAttribute("href")||"
                "),"#"===i.charAt(0)&&(n=i,i=n="function"==typeof t.escapeSelector?t.escapeSelector(n).substr(1):n.replace(/(
            </p>
            </div>
          <% }) %>
        </div> -->
        <div class="col-lg-4">
            <div class="sidebar">
                <h6>Recent Posts</h6>
                <ul>
                    <li>Adura</li>
                    <li>Nigga Gbedu</li>
                </ul>
            </div>
        </div>
       </div>
    </section>

    <script src="jquery-slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
</body>
</html>