<%-include('./partials/header')%>
<h1 class="text-center">Sign in</h1>

<div class="campground-form animate fadeIn form-animate">
    <form action="/register" method="post" class="sign-up">
        <div class="form-group">
            <input type="text" placeholder="Username" name="username" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" name="password" class="form-control">
        </div>
        <div class="form-group">
            <button class="btn bg-dark btn-block">Submit</button>
        </div>
    </form>
</div>


<%-include('./partials/footer')%>