body{
    background-color: #000 !important;
}
h1{
    font-family: Bitter;
    font-size: 150%;
}
#landing-header h1{
    color: #fff;
}
#landing-header{
    text-align: center;
    padding: 40vh;
    z-index: 1;
    position: relative;
}
.slideshow{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slideshow li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;

}
.slideshow li:nth-child(1){
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/assets/creative.jpg);
}
.slideshow li:nth-child(2){
    background-image: url(/assets/cycling.jpg);
    animation-delay: 10s;
}
.slideshow li:nth-child(3){
    background-image: url(/assets/dan.jpg);
    animation-delay: 20s;
}
.slideshow li:nth-child(4){
    background-image: url(/assets/worship.jpg);
    animation-delay: 30s;
}
.slideshow li:nth-child(5){
    background-image: url(/assets/yoga.jpg);
    animation-delay: 40s;
}

@keyframes imageAnimation{
    0%{
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10%{
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
}

.no-cssanimation .slideshow li{
    opacity: 1;
}